server:
  port: 0

spring:
  application:
    name: notification-service

#  data:
#    redis:
#      host: localhost
#      port: 6379

  datasource:
    url: jdbc:postgresql://localhost:5432/campuslink_main?currentSchema=notification_schema
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        default_schema: notification_schema
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: maincampuslink@gmail.com
    password: ${CAMPUSLINK_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      # value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: true

  # ZIPKIN & MICROMETER (Tracing) AYARLARI
  threads:
    virtual:
      enabled: true

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  endpoints:
    web:
      exposure:
        include: health, info, metrics, tracing

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    root: INFO
    org.apache.kafka: WARN
    org.springframework.kafka: WARN
    com.netflix.discovery: WARN
    com.netflix.eureka: WARN
    org.hibernate: WARN
    org.hibernate.SQL: WARN
    org.springframework.cloud: WARN
    org.springframework.mail: INFO
    org.springframework.boot.autoconfigure.mail: INFO

## Resilience4j Örnek Yapılandırması (User Service'e yapılan istekler için)
#resilience4j:
#  circuitbreaker:
#    instances:
#      userService:
#        registerHealthIndicator: true
#        slidingWindowSize: 10
#        permittedNumberOfCallsInHalfOpenState: 3
#        slidingWindowType: COUNT_BASED
#        minimumNumberOfCalls: 5
#        waitDurationInOpenState: 5s
#        failureRateThreshold: 50