spring:
  application:
    name: api-gateway
  codec:
    max-in-memory-size: 10MB

  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
    routes:
      - id: club-service
        uri: lb://CLUB-SERVICE
        predicates:
          - Path=/club/**
        filters:
          - PreserveHostHeader
          - RemoveRequestHeader=Cookie
server:
  port: 8080



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG